/*Makes the body of all the pages have margin 0, height of 100%, and a set font family */
html, body {
    margin: 0;
    height: 100%;
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

/*Makes all h1s centered and have a padding a the top*/
h1 {
	text-align: center;
	padding-top: 50px;
}

/*Makes all h2s centered and have no margin */
h2 {
	text-align: center;
	margin: 0px;
}

/*Makes the navbar have a certain background color, fixed at top, changes the font,
width accross the screen and have no bullet points*/
nav {
	font-family: sans-serif;
	position: fixed;
	left: 0px;
	top: 0px;
	background-color: #181C22;
	width:100%;
	height: 35px;
	z-index: 1000;
	list-style: none;
	text-align: center;
}

/*Makes the links in the navbar change a certain color when hovered over*/
nav a {
	color: black;
	padding: 0.5em;
	display:inline;
	fill: currentColor;
}

/* Changes what happens when mouse hovers over nav text */
a:hover {
	text-decoration: none;
	color: #b0bec5;
	fill: currentColor;
}

/*Changes the images' opacities */
img {
	opacity: 0.8;
}

/*Makes little display leaflets in the projects page */
#rcorners6 {
    border-radius: 15px 50px;
    background: #b0bec5;
    padding: 20px; 
    width: 150px;
    height: 100px;
    font-size: 18px; 
} 
/* Centers the text for projects and achievements */
#projects, #achievements {
	text-align: center;
}

/*Makes the text in the homepage centered in the screen */
#initial {
    height: 200px;
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}

/*Makes the footer fixed and stayed on the bottom */
footer {
    color: white;
    text-align: center;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    padding: 20px;
    position: fixed;
	bottom: 0px;
	width: 100%;
	z-index: 1000;
}

/*Screens 768 and smaller, font changes and footer goes away */
@media only screen and (max-width: 768px) {
	h1 {
		font-size: 20px;
	}
	h2 {
		font-size: 15px;
	}
	footer {
        visibility: hidden;
    } 
}

/*Screens 768 and bigger font changes */
@media screen and (min-width: 768px) {
	h1 {
		font-size: 50px;
	}
	h2 {
		font-size: 30px;
	}
}